<div class="comment-form-wrap pt-5 pb-5">
        {% if form_errors(trickForm.name) or form_errors(trickForm.content) or form_errors(trickForm.category) %}
        <div class="alert-danger alert">
                {{ form_errors(trickForm.name) }}
                {{ form_errors(trickForm.content) }}
                {{ form_errors(trickForm.category) }}
        </div>
        {% endif %}
        {{ form_start(trickForm) }}
        <div class="form-group">
                {{ form_label(trickForm.name) }}
                {{ form_widget(trickForm.name) }}
        </div>
        <div class="form-group">
                {{ form_label(trickForm.content) }}
                {{ form_widget(trickForm.content) }}
        </div>
        <div class="form-group">
            {{ form_row(trickForm.category) }}
        </div>
        <button class="btn btn-primary btn-md text-white" type="submit">
                {{ button_label|default('Ajouter') }}
        </button>
        {{ form_end(trickForm) }}
</div>